.navbar{
  height: 100px;
  background: #292B38;
  box-shadow: 4px 4px 9px #181A27, -4px -4px 13px rgba(121, 123, 136, 0.36);
  display: flex;
  flex-direction: column;
  position: relative;
  .status-block{
    height: 44px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    padding: 0 20px;
    align-items: center;
    &_time{
      font-family: "SF-Pro-Text", serif;
      font-size: 15px;
      line-height: 18px;
      text-align: justify;
      letter-spacing: 0.232836px;
      color: #FFFFFF;
    }
    &_connections{
      > img {
        margin-right: 5px;
      }
    }
  }
  .panel-block{
    flex: 1 1 auto;
    &_title{

      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn_previes{
        position: absolute;
        left: 20px;
        background: linear-gradient(135deg, #1C1E2B 0%, #323441 100%);
        box-shadow: 2px 2px 10px #0A0C15, -2px -2px 10px rgba(255, 255, 255, 0.27);
        border-radius: 7px;
        width: 40px;
        height: 40px;
        transition: 1s;
        border: none;
        &:hover{
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
      }
      &__text{
        font-family: "SF-Pro-Light", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 27px;
        text-align: center;
        color: #C2C9D4;
      }
    }

  }
}