.footer{
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn_next{
    height: 50px;
    width: 297px;
    cursor: pointer;
    background: linear-gradient(135deg, #1C1E2B 0%, #323441 100%);
    box-shadow: 2px 2px 8px #0A0C15, -2px -2px 6px rgba(255, 255, 255, 0.27);
    border-radius: 5px;
    //transform: rotate(180deg);
    position: relative;
    z-index: 1;
    border: none;
    transition: 1s;

    &:hover{
      box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    }
    &_text{
      font-family: "SF-Pro-Light", serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      color: #E7EB22;
    }
  }
  .separator-line{
    width: 102px;
    height: 4px;
    background: #140A26;
    border-radius: 4px;
    margin-top: 15px;
    position: relative;
    z-index: 1;
  }
}